body {
  scroll-behavior: smooth;
  font-family: "Poppins" !important;
}

@media (max-width: 500px) {
  main {
    margin-top: 25%;
  }
}
@media (min-width: 501px) and (max-width: 950px) {
  main {
    margin-top: 15%;
  }
}

.container {
  padding: 2.5% 13%;
}

.coloring {
  color: #eb4a4c;
}

.main_button a, .main_button button {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #eb4a4c;
  padding: 10px 40px;
  text-align: center;
  border-radius: 50px;
  font-family: "Poppins";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_button a:hover, .main_button button:hover {
  background-color: #fff;
  color: #eb4a4c;
}

.show_section {
  visibility: visible;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.hide_section {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Mulish";
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  font-weight: 400;
  color: #A2A2A2;
  background: url("../img/background.jpg") center center no-repeat;
}
@media (max-width: 950px) {
  body {
    background-size: cover;
  }
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.header-section {
  position: relative;
}
.header-section .header_logo img {
  border-radius: 50%;
}
.header-section .header_menu ul {
  list-style-type: none;
  padding-left: 0;
  width: 45%;
}
@media (max-width: 550px) {
  .header-section .header_menu ul {
    width: 100%;
  }
}
.header-section .header_menu ul li {
  display: inline-block;
}
.header-section .header_menu ul li.active a {
  color: #eb4a4c;
}
.header-section .header_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-section .header_menu ul li a:hover {
  color: #eb4a4c;
}
.header-section .navbar-toggler-icon {
  font-size: 30px;
  color: #fff;
  display: contents;
  align-items: center;
  justify-content: center;
}

.home_section {
  position: relative;
  font-family: "Poppins";
  margin-top: 3%;
}
.home_section .name {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 105px;
}
@media (max-width: 550px) {
  .home_section .name {
    font-size: 32px;
    line-height: 65px;
  }
}
@media (min-width: 551px) and (max-width: 1000px) {
  .home_section .name {
    font-size: 50px;
  }
}
.home_section .job {
  font-size: 25px;
  font-weight: 500;
  color: #A2A2A2;
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .home_section .job {
    font-size: 18px;
  }
}
.home_section .links {
  margin-top: 20px;
}
.home_section .links a {
  border-radius: 40px 0 40px 40px;
  width: 49px;
  height: 45px;
  padding: 10px 0;
  margin-right: 1%;
}
.home_section .links a:hover {
  transform: translateY(-7px);
  transition: all 0.4s ease-in-out;
}
.home_section .links a i {
  font-size: 20px;
}

.about_section {
  position: relative;
  margin-top: 5%;
  color: #fff;
}
.about_section .about-data {
  width: 90%;
}
.about_section .about_title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins";
}
.about_section .about_text {
  color: #A2A2A2;
  font-size: 20px;
  font-family: "Poppins";
}
.about_section .modal {
  background-color: rgba(0, 0, 0, 0.6);
}
.about_section .modal .btn-close {
  position: absolute;
  z-index: 4;
  left: 103%;
  top: 1.5%;
  font-size: 10px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 7px;
}
.about_section .modal .btn-close:hover {
  padding: 4px;
  color: #eb4a4c !important;
}
.about_section .modal .modal-content {
  background-color: #222222;
  width: 800px;
  height: 617px;
  overflow-y: auto;
  overflow-x: hidden;
}
.about_section .modal .modal-content::before {
  position: fixed;
  content: "";
  top: 23px;
  left: 401px;
  right: 0px;
  height: 50px;
  background-color: #222;
  z-index: 3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 49.9%;
}
.about_section .modal .modal-content::after {
  position: fixed;
  content: "";
  bottom: 73px;
  left: 401px;
  right: 0px;
  height: 50px;
  background-color: #222;
  z-index: 3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 49.9%;
}
.about_section .modal .modal-content::-webkit-scrollbar {
  width: 8px;
}
.about_section .modal .modal-content::-webkit-scrollbar-track {
  background: #222222;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}
.about_section .modal .modal-content::-webkit-scrollbar-thumb {
  background: #b64c4c;
  border-radius: 20px;
}
@media (min-width: 576px) {
  .about_section .modal .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
  }
}
.about_section .modal .popup_name {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.about_section .modal .popup_job {
  font-weight: 400;
  color: #A2A2A2;
  font-size: 15px;
}
.about_section .modal .left-side {
  padding: 65px 40px 0 50px;
  height: 614px;
}
.about_section .modal .left_list {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.15);
  padding-bottom: 6px;
}
.about_section .modal .left_list span {
  color: #fff;
  padding-left: 10px;
}
.about_section .modal .left_list i {
  color: #eb4a4c;
  font-size: 16px;
}
.about_section .modal .main_button a {
  width: 100%;
}
.about_section .modal .right-side {
  padding: 65px 0px 0 40px;
  border-left: 1px dashed rgba(255, 255, 255, 0.15);
}
.about_section .modal .right-side .about_popup_title p {
  border-bottom: 2px solid #eb4a4c;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  width: 40%;
}
.about_section .modal .right-side .timeline .list ul {
  margin: 0px;
  list-style-type: none;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-left: 0;
}
.about_section .modal .right-side .timeline .list ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
}
.about_section .modal .right-side .timeline .list ul li {
  margin: 0px;
  width: 100%;
  position: relative;
  padding-left: 20px;
  padding-bottom: 45px;
}
.about_section .modal .right-side .timeline .list ul li::before {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background: #eb4a4c;
  border-radius: 100%;
  border: solid 1px #eb4a4c;
  left: -5px;
  top: 12px;
}
.about_section .modal .right-side .timeline .list ul li .list_inner {
  display: flex;
}
.about_section .modal .right-side .timeline .list ul li .time span {
  display: inline-block;
  padding: 5px 25px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  font-size: 14px;
  white-space: nowrap;
  color: #afaeaa;
}
.about_section .modal .right-side .timeline .list ul li .place {
  width: 60%;
  padding-left: 15px;
}
.about_section .modal .right-side .timeline .list ul li .place h3 {
  font-size: 15px;
  margin-bottom: 2px;
}
.about_section .modal .right-side .timeline .list ul li .place span {
  font-size: 14px;
  color: #afaeaa;
}
.about_section .modal .right-side .service .about_title p {
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #eb4a4c;
  width: 40%;
  margin-bottom: 0;
}
.about_section .modal .right-side .service .list ul {
  margin: 0px;
  list-style-type: none;
  padding-left: 10px;
}
.about_section .modal .right-side .service .list ul li {
  margin: 0px 0px 8px 0px;
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  color: #afaeaa;
}
.about_section .modal .right-side .service .list ul li i {
  position: absolute;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  color: #eb4a4c;
  font-size: 16px;
  margin-top: 1px;
}

.portfolio_section {
  position: relative;
  color: #fff;
}
.portfolio_section .portfolio_title {
  font-weight: 700;
  font-family: "Poppins";
  font-size: 30px;
}
.portfolio_section .projects {
  background: transparent;
  padding: 10px 5px;
}
.portfolio_section .projects .screen {
  display: block;
  width: 300px;
  height: 320px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.portfolio_section .projects .screen img {
  bottom: -100%;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  -webkit-transition: top 5s;
  -moz-transition: top 5s;
  -ms-transition: top 5s;
  -o-transition: top 5s;
  transition: bottom 5s;
}
.portfolio_section .projects .screen img.care_project {
  bottom: -180%;
}
.portfolio_section .projects .screen img.ipharmacy {
  bottom: -75%;
}
.portfolio_section .projects .screen img.medfest {
  bottom: -400%;
}
.portfolio_section .projects .screen img.tamweel {
  bottom: -170%;
}
.portfolio_section .projects .screen img.agrimisr {
  bottom: -213%;
}
.portfolio_section .projects .screen img.ayadymisr {
  bottom: -252%;
}
.portfolio_section .projects .list_inner {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.portfolio_section .projects .list_inner:hover img {
  bottom: 0;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -ms-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
.portfolio_section .projects .list_inner:hover .details {
  bottom: 20px;
}
.portfolio_section .projects .details {
  position: absolute;
  z-index: 2;
  bottom: -100px;
  left: 20px;
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio_section .projects .details h3 {
  color: #000;
  font-size: 15px;
  margin-bottom: 2px;
}
.portfolio_section .projects .details span {
  color: #777;
  font-size: 14px;
}
.portfolio_section .projects .project_link {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 5;
}

.contact_section {
  position: relative;
  color: #fff;
  margin-top: 40px;
}
.contact_section .contact_title {
  font-weight: 700;
  font-family: "Poppins";
}
.contact_section ul.contact_info {
  list-style-type: none;
  padding: 0;
  width: 92%;
}
.contact_section ul.contact_info li {
  margin: 0px 0px 20px 0px;
  width: 100%;
}
.contact_section ul.contact_info li:last-child {
  margin-bottom: 0px;
}
.contact_section ul.contact_info li i {
  color: #eb4a4c;
  font-size: 16px;
  margin-top: 1px;
  padding-right: 13px;
}
.contact_section ul.contact_info li span {
  display: inline-block;
  padding-left: 13px;
}
.contact_section ul.contact_info li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact_section ul.contact_info li a.href_location:hover {
  color: #fff;
}
.contact_section ul.contact_info li a:hover {
  color: #eb4a4c;
}
.contact_section ul.contact_info .list_inner {
  width: 100%;
  height: auto;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
}
.contact_section .contact_form_section form {
  width: 95%;
}
.contact_section .contact_form_section .empty_notice {
  color: #F52225;
  display: none;
  font-weight: 500;
}
.contact_section .contact_form_section .form_input_shared, .contact_section .contact_form_section textarea, .contact_section .contact_form_section input {
  width: 100%;
  background-color: #222;
  border: 1px solid #4E4E4E;
  border-radius: 10px;
  color: #A2A2A2;
  padding: 20px;
  font-family: "Poppins";
}
.contact_section .contact_form_section .form_input_shared:focus, .contact_section .contact_form_section textarea:focus, .contact_section .contact_form_section input:focus {
  outline: none;
}
.contact_section .contact_form_section input {
  height: 45px;
}
.contact_section .contact_form_section textarea {
  height: 85%;
  resize: none;
}
.contact_section .contact_form_section .main_button button {
  padding: 7px 35px;
}

/*# sourceMappingURL=main_style.css.map */
