body {
  scroll-behavior: smooth;
}

.container {
  padding: 2.5% 13%;
}

.coloring {
  color: #eb4a4c;
}

.main_button a, .main_button button {
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #eb4a4c;
  padding: 10px 40px;
  text-align: center;
  border-radius: 50px;
  font-family: "Poppins";
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main_button a:hover, .main_button button:hover {
  background-color: #fff;
  color: #eb4a4c;
}

.show_section {
  visibility: visible;
  transition: opacity 1s ease-out;
  opacity: 1;
}

.hide_section {
  display: none;
  transition: opacity 1s ease-out;
  opacity: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  font-family: "Mulish";
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.2px;
  word-wrap: break-word;
  font-weight: 400;
  color: #A2A2A2;
  background: url("../img/background.jpg") center center no-repeat;
}
@media (max-width: 950px) {
  body {
    background-size: cover;
  }
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

.header-section {
  position: relative;
}
.header-section .header_logo img {
  border-radius: 50%;
}
.header-section .header_menu ul {
  list-style-type: none;
  padding-left: 0;
}
.header-section .header_menu ul li {
  display: inline-block;
}
.header-section .header_menu ul li.active a {
  color: #eb4a4c;
}
.header-section .header_menu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-section .header_menu ul li a:hover {
  color: #eb4a4c;
}
.header-section .mobile_open_menu {
  font-size: 30px;
  padding-top: 5px;
}
.header-section .mobile-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.header-section .mobile-menu ul {
  padding-left: 15%;
}
.header-section .mobile-menu ul li {
  margin-top: 8%;
}
.header-section .mobile-menu .closebtn {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 36px;
  margin-left: 50px;
}

.home_section {
  position: relative;
  font-family: "Poppins";
  margin-top: 3%;
}
.home_section .name {
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 105px;
}
.home_section .job {
  font-size: 25px;
  font-weight: 500;
  color: #A2A2A2;
  margin-bottom: 30px;
}
.home_section .links {
  margin-top: 20px;
}
.home_section .links a {
  border-radius: 40px 0 40px 40px;
  width: 49px;
  height: 45px;
  padding: 10px 0;
  margin-right: 1%;
}
.home_section .links a:hover {
  transform: translateY(-7px);
  transition: all 0.4s ease-in-out;
}
.home_section .links a i {
  font-size: 20px;
}

.about_section {
  position: relative;
  margin-top: 5%;
  color: #fff;
}
.about_section .about-data {
  width: 90%;
}
.about_section .about_title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins";
}
.about_section .about_text {
  color: #A2A2A2;
  font-size: 20px;
  font-family: "Poppins";
}
.about_section .modal {
  background-color: rgba(0, 0, 0, 0.6);
}
.about_section .modal .modal-header {
  border-bottom: none;
}
.about_section .modal .modal-header .btn-close {
  color: #fff;
}
.about_section .modal .modal-header .btn-close:focus {
  outline: none;
  border: none;
}
.about_section .modal .modal-content {
  background-color: #222222;
  width: 800px;
  height: 617px;
  margin-top: 9%;
}
@media (min-width: 576px) {
  .about_section .modal .modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
  }
}

.contact_section {
  position: relative;
  color: #fff;
  margin-top: 40px;
}
.contact_section .contact_title {
  font-weight: 700;
  font-family: "Poppins";
}
.contact_section ul.contact_info {
  list-style-type: none;
  padding: 0;
  width: 92%;
}
.contact_section ul.contact_info li {
  margin: 0px 0px 20px 0px;
  width: 100%;
}
.contact_section ul.contact_info li:last-child {
  margin-bottom: 0px;
}
.contact_section ul.contact_info li i {
  color: #eb4a4c;
  font-size: 16px;
  margin-top: 1px;
  padding-right: 13px;
}
.contact_section ul.contact_info li span {
  display: inline-block;
  padding-left: 13px;
}
.contact_section ul.contact_info li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.contact_section ul.contact_info li a.href_location:hover {
  color: #fff;
}
.contact_section ul.contact_info li a:hover {
  color: #eb4a4c;
}
.contact_section ul.contact_info .list_inner {
  width: 100%;
  height: auto;
  background-color: #222;
  border-radius: 10px;
  padding: 10px;
}
.contact_section .contact_form_section form {
  width: 95%;
}
.contact_section .contact_form_section .empty_notice {
  color: #F52225;
  display: none;
  font-weight: 500;
}
.contact_section .contact_form_section .form_input_shared, .contact_section .contact_form_section textarea, .contact_section .contact_form_section input {
  width: 100%;
  background-color: #222;
  border: 1px solid #4E4E4E;
  border-radius: 10px;
  color: #A2A2A2;
  padding: 20px;
  font-family: "Poppins";
}
.contact_section .contact_form_section .form_input_shared:focus, .contact_section .contact_form_section textarea:focus, .contact_section .contact_form_section input:focus {
  outline: none;
}
.contact_section .contact_form_section input {
  height: 45px;
}
.contact_section .contact_form_section textarea {
  height: 85%;
  resize: none;
}
.contact_section .contact_form_section .main_button button {
  padding: 7px 35px;
}

/*# sourceMappingURL=main_style.css.map */
