.about_section{
    position: relative;
    margin-top: 5%;
    color: #fff;
    .about-data{
        width: 90%;
    }
    .about_title{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        font-family: $font_header;
    }

    .about_text{
        color: $text_color;
        font-size: 20px;
        font-family: $font_header;
    }

    /////////////// about modal /////////////////
    .modal{
       .btn-close{
            position: absolute;
            z-index: 4;
            left: 103%;
            top: 1.5%;
            font-size: 10px;
            border: 1px solid black;
            border-radius: 50%;
            padding: 7px;
            &:hover{
                padding: 4px;
                color: #eb4a4c !important;
            }
       }
        background-color: rgba(0,0,0,0.6);
       
        .modal-content{
            background-color: #222222;
            width: 800px;
            height:617px;
            overflow-y: auto;
            overflow-x: hidden;
            &::before{
                position: fixed;
                content: "";
                top: 23px;
                left: 401px;
                right: 0px;
                height: 50px;
                background-color: #222;
                z-index: 3;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                width: 49.9%;
            }
            &::after{
                position: fixed;
                content: "";
                bottom: 73px;
                left: 401px;
                right: 0px;
                height: 50px;
                background-color: #222;
                z-index: 3;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                width: 49.9%;
            }
            &::-webkit-scrollbar{
                width: 8px;
              }
            &::-webkit-scrollbar-track {
            background: #222222; 
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            }
            &::-webkit-scrollbar-thumb {
                background: rgb(182, 76, 76); 
                border-radius: 20px;
              }
            //margin-top: 9%;
        }
        @media (min-width: 576px){
            .modal-dialog {
                max-width: 800px !important;
                margin: 1.75rem auto;
            }
        }

        // .modal-body{
            .popup_name{
                font-size: 22px;
                text-transform: uppercase;
                margin-bottom: 7px;
            }
            .popup_job{
                font-weight: 400;
                color: $text_color;
                font-size: 15px;
            }

            .left-side{
                padding: 65px 40px 0 50px;
                height: 614px;
            }
            .left_list{
                border-bottom: $border_dashed_color;
                padding-bottom: 6px;
                span{
                    color: #fff;
                    padding-left: 10px;
                }
                i{
                    color: $main_color;
	                font-size: 16px;
                }
            }

            .main_button{
                a{
                    width: 100%;
                }
            }

            .right-side{
               // padding: 40px 20px;
               padding: 65px 0px 0 40px;
               border-left: $border_dashed_color;
                .about_popup_title{
                
                    p{
                        border-bottom: 2px solid #eb4a4c;
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 0;
                        width: 40%;
                    }
                }
                .timeline{
                .list{
                    ul{
                        margin: 0px;
                        list-style-type: none;
                        position: relative;
                        display: inline-block;
                        padding-top: 10px;
                        padding-left: 0;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 1px;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: rgba(255,255,255,.15);
                        }

                        li{
                            margin: 0px;
                            width: 100%;
                            position: relative;
                            padding-left: 20px;
                            padding-bottom: 45px;
                            &::before{
                                content: "";
                                position: absolute;
                                height: 12px;
                                width: 12px;
                                background: $main_color;
                                border-radius: 100%;
                                border: solid 1px $main_color;
                                left: -5px;
                                top: 12px;
                            }

                            .list_inner{
                                display: flex;
                            }
                            .time span{
                                display: inline-block;
                                padding: 5px 25px;
                                background-color: rgba(255,255,255,.05);
                                border-radius: 50px;
                                font-size: 14px;
                                white-space: nowrap;
                                color: #afaeaa;
                            }

                            .place{
                                width: 60%;
                            	padding-left: 15px;
                                h3{
                                    font-size: 15px;
                                    margin-bottom: 2px;
                                }
                                span{
                                    font-size: 14px;
	                                color: #afaeaa;;
                                }
                            }
                        }
                    }
                }
            }
                .service {
                    .about_title p{
                        font-size: 18px;
                        font-weight: 600;
                        border-bottom: 2px solid #eb4a4c;
                        width: 40%;
                        margin-bottom: 0 ;
                    }
                    .list 
                    {
                        ul{
                        margin: 0px;
                        list-style-type: none;
                        padding-left: 10px;

                        li{
                            margin: 0px 0px 8px 0px;
                            width: 100%;
                            float: left;
                            position: relative;
                            padding-left: 10px;
                            color: #afaeaa;
                            i{
                                position: absolute;
                                left: -7px;
                                top: 50%;
                                transform: translateY(-50%);
                                color: $main_color;
                                font-size: 16px;
                                margin-top: 1px;
                            }
                        }
                        }
                  }
                }
               
            }
            
       // }
    }
}