.about_section{
    position: relative;
    margin-top: 5%;
    color: #fff;
    .about-data{
        width: 90%;
    }
    .about_title{
        text-transform: uppercase;
        font-size: 40px;
        font-weight: 700;
        font-family: $font_header;
    }

    .about_text{
        color: $text_color;
        font-size: 20px;
        font-family: $font_header;
    }

    /////////////// about modal /////////////////
    .modal{
        background-color: rgba(0,0,0,0.6);
        .modal-header{
            border-bottom: none;
            .btn-close{
                font-size: 12px;
            }
        }
        .modal-content{
            background-color: #222222;
            width: 800px;
            height: 617px;
            margin-top: 9%;
        }
        @media (min-width: 576px){
            .modal-dialog {
                max-width: 800px !important;
                margin: 1.75rem auto;
            }
        }

        // .modal-body{
            .popup_name{
                font-size: 22px;
                text-transform: uppercase;
                margin-bottom: 7px;
            }
            .popup_job{
                font-weight: 400;
                color: $text_color;
                font-size: 15px;
            }

            .left-side{
                padding: 50px 40px 0 50px;
                height: 614px;
                border-right: $border_dashed_color;
            }
            .left_list{
                border-bottom: $border_dashed_color;
                padding-bottom: 6px;
                span{
                    color: #fff;
                    padding-left: 10px;
                }
                i{
                    color: $main_color;
	                font-size: 16px;
                }
            }

            .main_button{
                a{
                    width: 100%;
                }
            }
       // }
    }
}