.home_section{
    position: relative;
    font-family: $font_header;
    margin-top: 3%;
    .name{
        color: #fff;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 105px;
    }

    .job{
        font-size: 25px;
        font-weight: 500;
        color: $text_color;
        margin-bottom: 30px;
    }

    .links {
        margin-top: 20px;
        a{
            border-radius: 40px 0 40px 40px;
            width: 49px;
            height: 45px;
            padding: 10px 0;
            margin-right: 1%;
            &:hover{
                transform: translateY(-7px);
                transition: all 0.4s ease-in-out;
            }
            i{
                font-size: 20px;
            }
        }
    }
   
}