.header-section{
    position: relative;
    .header_logo{
        img{
            border-radius: 50%;
        }
    }

    .header_menu ul{
        list-style-type: none;
        padding-left: 0;
        width:45%;
        @media (max-width:550px) {
            width: 100%;
        }
        li{
            display: inline-block;
            &.active{
                a{
                    color: $main_color;
                }
            }
            a{
                text-decoration: none;
                color: #fff;
                font-family: $font_header;
                font-weight: 500;
                
                -webkit-transition: all .3s ease;
                   -moz-transition: all .3s ease;
                    -ms-transition: all .3s ease;
                     -o-transition: all .3s ease;
                        transition: all .3s ease;
                &:hover{
                    color: $main_color;
                }
            }
        }
    }


    .navbar-toggler-icon{
        font-size: 30px;
        color: #fff;
        display: contents;
        align-items: center;
        justify-content: center;
    }
}




